# ===== Compose 控制 =====
COMPOSE_PROFILES=n8n
COMPOSE_PROJECT_NAME=vitraya

# ==== Image version ====
N8N_IMAGE=n8nio/n8n:2.21.5
N8N_RUNNERS_IMAGE=n8nio/runners:2.21.5

POSTGRES_IMAGE=postgres:15
REDIS_IMAGE=redis:7-alpine
