# ===== Compose 控制 =====
COMPOSE_PROFILES=n8n
COMPOSE_PROJECT_NAME=vitraya

# ==== Image version ====
N8N_IMAGE=n8nio/n8n:2.21.5
N8N_RUNNERS_IMAGE=n8nio/runners:2.21.5

POSTGRES_IMAGE=postgres:15
REDIS_IMAGE=redis:7-alpine

SCRAPLING_IMAGE=pyd4vinci/scrapling:latest
TAILSCALE_IMAGE=tailscale/tailscale:latest

OPENCLAW_IMAGE=ghcr.io/openclaw/openclaw:latest
